body {
  padding-top: 20px;
}

.nav-link-selected {
  color: black;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.img-container {
  max-width: 250px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none;
  background-color: rgb(255, 255, 255);
  cursor: inherit;
  display: block;
}
